ody
{
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Ffundo-fofo&psig=AOvVaw0EWWwo8BQjijnXxh3uCF5r&ust=1759521488373000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIiOwMKnhpADFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: cover;
}
.square
{
    background: #fcbbd6;
}
.square2
{
    background: #fff27d;
}
.square1
{
    background-color: #e4bbfc;
}

.bio-item img {
    width: 50%;
    height: auto;
}

.bio-item img {
    width: 50%;
    height: auto;

}

