body
{
    background-image:url(fundofofo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.square
{
    background: #fcbbd6;
}
.square2
{
    background: #fff27d;
}
.square1
{
    background-color: #e4bbfc;
}

.bio-item img {
    width: 50%;
    height: auto;
}



